*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #f0f0f0;
    --secondary-color: #333;
    --tertiary-color: #f0f0f0;
    --quaternary-color: #333;
    --quinary-color: #f0f0f0;
    --senary-color: #333;
    --septenary-color: #f0f0f0;
    --octonary-color: #333;
    --nonary-color: #f0f0f0;
    --denary-color: #333;
}

body{
    font-family: 'Manrope', sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
